{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="slogan">Connexion</h1>
    <img src="\images\unsplash.jpg" style="width: inherit">
<form method="post" class="form-login">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Entrez votre identifiant</h1>
    <label for="inputUsername" class="">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="row justify-content-between align-text-bottom" style="padding: inherit">
        <button class="action" type="submit">
            Connexion
        </button>
        <a class="action" href="{{ path('app_register') }}">Nouvel utilisateur</a>
        <a class="" href="{{ path('app_resetting') }}">Mot de passe oublié</a>
    </div>
</form>
{% endblock %}
