{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    <section>
        <h3>Liste des images</h3>
        <ul class="medias_pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
                {% for pict in form.pictures %}
                    {#vérifie si l'image existe ?#}
                    {% if pict.vars.data.name %}
                        <li>
                            <img class="col-2" src="{{ pict.vars.data.path }}" >
                            <span class="d-none">{{ form_row(pict.file) }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
        </ul>
        <h3>Liste des vidéos</h3>
        <ul class="medias_videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {% for video in form.videos %}
                    <li>
                        {{ form_row(video.link) }}

                    </li>

                {% endfor %}
        </ul>
    </section>


    <button class="btn">{{ button_label|default('Save') }}</button>
    {#{% do form.pictures.setRendered() %}#}
    {{ form_row(form._token) }}
{{ form_end(form, {'render_rest':false}) }}
