{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <section>
        <h3>Liste média</h3>
        <ul class="medias_full" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
            <ul>
                {% for pict in form.pictures %}
                    <li>{{ form_widget(pict.picture_choice) }}</li>
                {% endfor %}
            </ul>
        </ul>
    </section>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
