    {% for trick in tricks %}
        <article class="trick-display">
            <div class="card text-white bg-secondary m-1">
                {% if trick.pictures|length>0 %}
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">
                        <div class="card-body"><img src={{ trick.pictures[0].file}} alt="" style="width:100%"></div>
                    </a>
                {% endif %}

                <div class="card-footer">
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">
                        {{ trick.name }}({{ trick.id}})
                    </a>
                    {% if is_granted('ROLE_USER') %}
                        <span>
                                <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="fas fa-pen text-right"></a>
                                <a href="{{ path('trick_delete', {'id': trick.id}) }}" class="fas fa-trash-alt text-right"></a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </article>
        <span id="trickList"></span>
    {% else %}
        <div>
            <span colspan="4">no records found</span>
        </div>
    {% endfor %}