    {% for trick in tricks %}
        <div class="card border-light mb-3 trick-display cpTremble">
            <div class="card-body">
                {% if trick.pictures|length>0 %}
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">
                        <div class="card-body"><img src={{ trick.pictures[0].file}} alt="" style="width:100%"></div>
                    </a>
                {% endif %}
            </div>
                <div class="card-footer">
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">
                        {{ trick.name }}({{ trick.id}})
                    </a>
                    <span class="float-right">
                                {% if is_granted('ROLE_USER') %}
                                    <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="fas fa-pen text-right"></a>
                                    <a href="{{ path('trick_delete', {'id': trick.id}) }}" class="fas fa-trash-alt text-right"></a>
                                {% endif %}
                    </span>
                </div>

        </div>
        <span id="trickList"></span>
    {% else %}
        <div>
            <span colspan="4">no records found</span>
        </div>
    {% endfor %}
