{% for comment in comments %}
    <div class="comment">
        <div class="row">
            <div class="col-1">
                <img class="img-thumbnail avatar" src={{ comment.user.picture }} alt={{ comment.user.username }}>
            </div>
            <span class="comment-border col-10">
                        <div class="col-4">
                            {{ comment.user.username }} <small>({{ comment.creationDate | date('d/m/Y à H:i') }})</small>
                        </div>
                        <div class="col">
                            {{ comment.description }}
                        </div>
            </span>
        </div>
    </div>
{% endfor %}