{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <section class="row" id="accueil">
        <img class="img-fluid" src="\images\mattias-olsson-160612-unsplash.jpg">
        <h1 class="slogan"> Les figures de Snowboard <br/> dans tous les sens !</h1>
        <a id="fleche" href="#start" data-toggle="tooltip" title="Découvrir la suite" class="fas fa-angle-double-down"></a>


        {% for flashMessage in app.session.flashBag.get('registration') %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </section>
    <section>
        <div class="row justify-content-around p-3">
            <h3 id="start" class="nb-fig1">De nombreuses figures sont à votre disposition ({{ tricks|length -1}} en ce moment).</h3>
            <h3 id="start" class="nb-fig2">Déjà {{ tricks|length -1}} figures.</h3>
            {% if is_granted('ROLE_USER') %}
                <a class="action" href="{{ path('trick_new') }}">Nouvelle figure</a>
            {% endif %}
        </div>
        <div class="row">
            {% for trick in tricks %}
                <div class="card border-light mb-3 trick-display cpTremble">
                    <div class="card-body">
                        {% if trick.pictures|length>0 %}
                            <a href="{{ path('trick_show', {'id': trick.id}) }}">
                                    <img class="" src={{ trick.pictures[0].path}} alt="" >
                            </a>
                        {% else %}
                            <img src="/images/vide.jpg">
                        {% endif %}
                    </div>
                    <div class="card-footer">
                            <a href="{{ path('trick_show', {'id': trick.id}) }}">
                                {{ trick.name }}&nbsp(n°{{ trick.id}})
                            </a>
                            <span class="float-right">
                                {% if is_granted('ROLE_USER') %}
                                    <a href="{{ path('trick_edit', {'id': trick.id}) }}" data-toggle="tooltip" title="Modifier" class="fas fa-pen text-right"></a>
                                    {{ include('trick/_delete_form.html.twig') }} {#Permet l'utilisation le token#}
                                {% endif %}
                            </span>
                    </div>
                </div>
                <span id="trickList"></span>
            {% else %}
                <div>
                    <span colspan="4">Pas de figures disponible</span>
                </div>
            {% endfor %}
        </div>
            <a id="readMore" class="action d-flex col-md-2  col-sm-4 justify-content-center">
                <span id="follow">
                    <i class="fas fa-book-reader"></i>
                        Voir plus...
                </span>
            </a>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        click = 1;
        jQuery(document).ready(function() {
            $('#follow').on('click', function () {
                click++;
                $('readMore').display=false;
                return $.ajax({
                    url: "{{ path('loadMore') }}"+'/'+click,
                    method: "GET",
                    success: function (response) {
                        $('#readMore').before(response);
                        cp_tremble();
                    }}
                );
            })
        })
    </script>
{% endblock  %}
