{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    {#<h1>Bienvenue sur le bog ({{ tricks.count }})</h1>#}
    {% for flashMessage in app.session.flashBag.get('registration') %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <section class="row">
        {% for trick in tricks %}
            <article class="col-md-3">
                <div class="card text-white bg-secondary mb-3">
                    {#<div class="card-header"><img src={{ trick.pictures|first }} alt="" style="width:50%">#}
                    {{ dump(trick) }}
                    <div class="card-header">
                        {{ trick.description(200) | raw}}
                        {{ trick.id}} : {{ trick.name }}
                    </div>
                    <div class="card-body">{{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('H:i ') }}</div>
                    <div class="card-footer">
                        <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                    </div>
                </div>
            </article>
        {% else %}
            <div>
                <span colspan="4">no records found</span>
            </div>
        {% endfor %}
    </section>

    <a href="{{ path('trick_new') }}">Create new</a>
{% endblock %}
