{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <section class="row">
        <img class="img-fluid" src="\images\mattias-olsson-160612-unsplash.jpg">
        <h1 class="slogan"> Les figures de Snowboard dans tous les sens !</h1>
        <a id="fleche" href="#start" data-toggle="tooltip" title="Découvrir la suite" class="fas fa-angle-double-down"></a>


        {% for flashMessage in app.session.flashBag.get('registration') %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </section>
    <section class="row">
        <h3 id="start" class="text-center col-12">De nombreuse figures sont à votre disposition ({{ tricks|length }} en ce moment).</h3>
        {% for trick in tricks %}
            <article class="col-md-3">
                <div class="card text-white bg-secondary mb-3">
                    {% if trick.pictures|length>0 %}
                        <div class="card-header"><img src={{ trick.pictures[0].file}} alt="" style="width:50%">
                    {% endif %}

                    <div class="card-header">
                        {{ trick.description(200) | raw}}
                        {{ trick.id}} : {{ trick.name }}
                    </div>
                    <div class="card-body">{{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('H:i ') }}</div>
                    <div class="card-footer">
                        <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                    </div>
                </div>
            </article>
        {% else %}
            <div>
                <span colspan="4">no records found</span>
            </div>
        {% endfor %}
    </section>

    <a href="{{ path('trick_new') }}">Create new</a>
{% endblock %}
