{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <section class="row" id="accueil">
        <img class="img-fluid" src="\images\mattias-olsson-160612-unsplash.jpg">
        <h1 class="slogan"> Les figures de Snowboard <br/> dans tous les sens !</h1>
        <a id="fleche" href="#start" data-toggle="tooltip" title="Découvrir la suite" class="fas fa-angle-double-down"></a>


        {% for flashMessage in app.session.flashBag.get('registration') %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </section>
    <section class="row">
        <h3 id="start" class="text-center col-12">De nombreuses figures sont à votre disposition ({{ tricks|length -1}} en ce moment).</h3>
            {% for trick in tricks %}
                <div class="card border-light mb-3 trick-display cpTremble">
                    <div class="card-body">
                        {% if trick.pictures|length>0 %}
                            <a href="{{ path('trick_show', {'id': trick.id}) }}">
                                    <img src={{ trick.pictures[0].path}} alt="" style="width:100%">
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                            <a href="{{ path('trick_show', {'id': trick.id}) }}">
                                {{ trick.name }}({{ trick.id}})
                            </a>
                            <span class="float-right">
                                {% if is_granted('ROLE_USER') %}
                                    <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="fas fa-pen text-right"></a>
                                    <a href="{{ path('trick_delete', {'id': trick.id}) }}" class="fas fa-trash-alt text-right"></a>
                                {% endif %}
                            </span>
                    </div>
                </div>
                <span id="trickList"></span>
            {% else %}
                <div>
                    <span colspan="4">no records found</span>
                </div>
            {% endfor %}
            <a id="readMore">
                <h3 id="follow" class="text-center col-12">
                    <i class="fas fa-book-reader"></i>
                        Voir plus...
                </h3>
            </a>
    </section>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('trick_new') }}">Create new</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        click = 1;
        jQuery(document).ready(function() {
            $('#follow').on('click', function () {
                click++;
                $('readMore').display=false;
                return $.ajax({
                    url: "{{ path('loadMore') }}"+'/'+click,
                    method: "GET",
                    success: function (response) {
                        $('#readMore').before(response);
                        cp_tremble();
                    }}
                );
            })
        })
    </script>
{% endblock  %}
