{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    {{ parent() }}
    <article >
            <div class="row">
                {% if trick.pictures|length > 0 %}
                    <img class="contenu" src={{ trick.pictures[0].path }}>
                {% else %}
                    <img src="..\public\images\vide.jpg" >
                {% endif %}
                <h1 class="trick-title">{{ trick.name }}</h1>
            </div>
            <div class="row trick-display2">
                {% for picture in trick.pictures %}
                    <img class="img-thumbnail" src={{ picture.path }}>
                {% endfor %}
                {% for video in trick.videos %}
                    <span class="video-thumbnail"> {{ video.link|raw }}</span>
                {% endfor %}
            </div>
                <div>{{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('H:i ') }}</div>
                <div class="card-footer">
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                </div>
            </div>
    </article>

    <a href="{{ path('trick_index') }}">back to list</a>
    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}
