{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    {{ parent() }}
    <article >
            <div class="row aLaUne">
                {% if trick.pictures|length > 0 %}
                    <img class="contenu" src={{ trick.pictures[0].path }}>
                    {% if is_granted('ROLE_USER') %}
                        <h3 class="icon d-inline-flex">
                                    <a href="{{ path('trick_edit', {'id': trick.id}) }}" data-toggle="tooltip" title="Modifier" class="fas fa-pen text-right" ></a>
                                    {{ include('trick/_delete_form.html.twig') }}
                        </h3>
                    {% endif %}
                {% else %}
                    <img src="/images/vide.jpg" >
                {% endif %}
                <h1 class="trick-title">{{ trick.name }}</h1>
            </div>
            <div class="row vignette hidden-small">
                {% for picture in trick.pictures %}
                    <img class="img-thumbnail" src={{ picture.path }} alt={{ picture.name }}>
                {% endfor %}
                {% for video in trick.videos %}
                    <span class="video-src">{{ video.link }}</span>
                    <img class="video-thumbnail" src={{ video.thumbnail }} >
                {% endfor %}
            </div>
            <div class="display-small">
                <button id="display" class="action">Afficher média</button>
            </div>

            <div id="Modal_img" class="modal">
                <div class="stop-modal">
                    <img class="modal-content" id="img01">
                    <span class="close">&times;</span>
                </div>
            </div>
            <!-- The video Modal -->
            <div id="Modal_video" class="modal">
                <div class="stop-modal" id="test">
                    <iframe class="modal-content" id="video01" src="" ></iframe>
                    <span class="close">&times;</span>
                </div>
            </div>

            <div class="row trick-info hidden-small">
                <span class="badge-pill badge-primary"> Créé le : {{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('H:i ') }} </span>
                <span class="badge-pill badge-primary"> Groupe : {{ trick.category.name }}</span>
                <span class="badge-pill badge-primary"> Modifié le : {{ trick.lastUpdate | date('d/m/y') }} à {{ trick.createdAt | date('H:i ') }} </span>
            </div>
            <div class="row display-small">
                <div class="badge-pill badge-primary">
                    Créé le : {{ trick.createdAt | date('d/m/y') }}&nbsp-
                    Groupe : {{ trick.category.name }}&nbsp-&nbsp
                    Modifié le : {{ trick.lastUpdate | date('d/m/y') }}
                </div>
            </div>

            <div class="row trick-content">
                <p> {{ trick.description | raw}} </p>
            </div>
    </article>
    {%  if (trick.comments.count>0)%}
        <hr>
    {% endif %}
    <section>
        {% for comment in trick.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-1">
                        <img class="img-thumbnail avatar" src={{ comment.user.picture }} alt={{ comment.user.username }}>
                    </div>
                    <span class="comment-border col-10">
                        <div class="col-4">
                            {{ comment.user.username }} <small>({{ comment.creationDate | date('d/m/Y à H:i') }})</small>
                        </div>
                        <div class="col">
                            {{ comment.description }}
                        </div>
                    </span>
                </div>
            </div>
        {% endfor %}
        {%  if (trick.comments.count>0)%}
            <a class="action" id="more_comment">Afficher plus</a>
        {%  endif %}
        <hr id="end_comment">
        {% if app.user %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.description, {'attr' : {'placeholder': "Votre commentaire"}}) }}
            <button type="submit" class="action">Commenter</button>

            {{ form_row(commentForm._token) }}
            {{ form_end(commentForm, {'render_rest': false}) }}
        {% else %}
            <div class="row justify-content-around">
                <h2>Vous ne pouvez pas commenter, sans être indentifié.</h2>
                <a href="{{ path('app_login') }}" class="action">Connexion</a>
            </div>
        {% endif %}

    </section>

    <a href="{{ path('trick_index') }}">Retour à l'accueil</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        // Get the modal
        var modalImg = document.getElementById("img01");
        var modalVideo = document.getElementById("video01");
        jQuery(document).ready(function() {
            //1-Picture
            $('.img-thumbnail').click(function () {
                    modalImg.src = this.src;
                    $("#Modal_img").css('display','block').show();
            })
            //2-vidéo
            $('.video-thumbnail').click(function () {
                var video_src = this.previousElementSibling;
                modalVideo.src = "https://www.youtube.com/embed/"+ video_src.innerText +"?rel=0&showinfo=0&autoplay=1";
                $("#Modal_video").css('display','block').show();
            })

            //3-bouton close
            $('.close').click(function () {
                console.log("close_123");
                $(".modal").css('display','none')
            })
            // Display pictures on mobil
            $('#display').click(function () {
                $('.vignette').css('display','flex');
                $('#display').hide();
            });
            // More comment
            {#$('#follow').on('click', function () {#}
                {#click++;#}
                {#$('more_comment').display=false;#}
                {#return $.ajax({#}
                    {#url: "{{ path('/trick/ajax/comment/{click}/{id}') }}"+'/'+click,#}
                    {#method: "GET",#}
                    {#success: function (response) {#}
                        {#$('#end_comment').before(response);#}
                    {#}}#}
                {#);#}
            {#})#}
        })
    </script>

{% endblock %}

