{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <h1>Trick</h1>

        <article class="col-md-3">
            <div class="card text-white bg-secondary mb-3">
                {% for picture in trick.pictures %}
                    {{ dump(picture) }}
                    <img src={{ picture.file }} alt="" style="width:50%">
                {% endfor %}
                <div class="card-body">{{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('H:i ') }}</div>
                <div class="card-footer">
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                </div>
            </div>
        </article>

    <a href="{{ path('trick_index') }}">back to list</a>
    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}
