{% extends 'base.html.twig' %}

{% block title %}Hello ResettingController!{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="slogan">Renouvellement du mot de passe</h1>
    <img src="\images\unsplash.jpg" style="width: inherit">

    {% for flashMessage in app.session.flashBag.get('warning') %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{form_start(form)}}
    <h1 class="h3 mb-3 font-weight-normal">Saisir votre adresse e-mail</h1>
        {{ form_row(form.email) }}
    <p>Un e-mail va vous être envoyer afin de renouveller votre mot de passe.</p>

    <button class="action d-block m-auto" type="submit">Envoyer</button>
    {{form_end(form)}}
    <h5 class="form-request"></h5>
{% endblock %}
