{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1 class="slogan">Renouvellement du mot de passe</h1>
    <img src="\images\unsplash.jpg" style="width: inherit">


    {{form_start(form)}}
        <h1 class="h3 mb-3 font-weight-normal">Saisir votre nouveau mot de passe</h1>
        {{form_row(form.Password.first)}}
        {{form_row(form.Password.second)}}
        <button class="action"  type="submit">Envoyer</button>
    {{form_end(form)}}
    <h5 class="form-resetting"></h5>
{% endblock %}